<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones | Divina</title>
    <meta name="description" content="Terminos y condiciones | Divina">
    <link rel="stylesheet" href="../css/tyc.css">
    <link rel="icon" href="../img/iconRojo.png">

</head>
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous' />


<body>

    <nav>
        <a href="/">
            <img src="../img/divinaLogo.png" alt="Logo | Divina">
        </a>
    </nav>

    <main>
        <h1>Términos y Condiciones de Uso</h1>
        <p>
            <b>Información relevante </b> <br>

            Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte
            los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como
            la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en
            el presente documento. Todas los productos que son ofrecidos por nuestro sitio web pudieran ser creadas,
            cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios
            Términos y Condiciones. En algunos casos, para adquirir un producto, no es necesario el registro por parte
            del usuario ni el ingreso de infromacion crediticia.

            Los precios de los productos ofrecidos en este sitio web son válidos solamente en las compras realizadas
            en este sitio web.
        </p>
        <p>

            <b>Licencia</b> <br>

            Divina a través de su sitio web concede una licencia para que los usuarios utilicen los productos que son
            vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.
        </p>

        <p>

            <b>Uso no autorizado</b> <br>

            En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted
            no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro
            medio y ofrecerlos para la redistribución o la reventa de ningún tipo.

        </p>

        <p>

            <b>Propiedad</b> <br>

            Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin
            modificar. Todos los productos son propiedad de los proveedores del contenido. En caso de que no se
            especifique lo contrario, nuestros productos se proporcionan sin ningún tipo de garantía, expresa o
            implícita. Divina no sera responsable de ningún daño incluyendo, pero no limitado a, daños
            directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la
            imposibilidad de utilizar nuestros productos.

        </p>
        <p>

            <b>Política de reembolso y garantía</b> <br>

            En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos reembolsos después de
            que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. Le pedimos que lea
            cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se
            ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este
            será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo
            se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños
            ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y
            funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el
            equipo ha sido usado correctamente. Esto incluye:

            – De acuerdo a las especificaciones técnicas indicadas para cada producto.
            – En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.
            – En uso específico para la función con que fue diseñado de fábrica.
        </p>

        <p>


            <b>Privacidad</b> <br>

            Este https://www.divinaec.com garantiza que la información personal que usted envía cuenta con la seguridad
            necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán
            entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos
            legales.

            Los datos ingresados de contacto son para uso estricto de Divina

            Divina reserva los derechos de cambiar o de modificar estos términos sin previo aviso.

        </p>

        <p>



            <b>Recopilación de su información personal</b> <br>

            Divina recopila información de identificación personal, como su correo electrónico y su
            nombre Divina también recopila información demográfica anónima, que no es exclusiva de usted, como su código
            postal, edad, sexo, preferencias, intereses y favoritos.

            También existe información sobre el hardware y software de su computadora que Divina recopila
            automáticamente. Esta información puede incluir: su dirección IP, tipo de navegador, nombres de dominio,
            tiempos de acceso y direcciones de sitios web de referencia. Divina utiliza esta información para la
            operación del servicio, para mantener la calidad del servicio y para proporcionar estadísticas generales
            sobre el uso del sitio Web de Divina.

            Tenga en cuenta que si divulga directamente información de identificación personal o datos personales
            sensibles a través de los foros públicos de mensajes de Divina, esta información puede ser recopilada y
            utilizada por otros. Nota: Divina no ha leído ninguna de sus comunicaciones privadas online.

            Divina le anima a revisar las declaraciones de privacidad de los sitios Web a los que decide conectarse
            desde Divina para que pueda comprender cómo esos sitios Web recopilan, utilizan y comparten su
            información. <i>Divina no es responsable de las declaraciones de privacidad ni de otros contenidos que se
                encuentren en sitios web fuera de Divina y de la familia de sitios web de Divina.</i>

        </p>

        <p>
            <b>Uso de su información persona</b> <br>

            Divina recopila y utiliza su información personal para operar el sitio web de Divina y brindar los
            servicios que ha solicitado. Divina también utiliza su información que puede ser identificada
            personalmente para informarle de otros productos o servicios disponibles por Divina y sus afiliados.
            Divina también puede comunicarse con usted a través de encuestas para realizar una investigación sobre
            su opinión sobre los servicios actuales o sobre los posibles nuevos servicios que se pueden ofrecer.

            Divina no tiene que vender, alquilar o ceder sus listas de clientes a terceros. Divina puede, de
            vez en cuando, contactarlo en nombre de socios comerciales externos para ofrecerle una oferta particular que
            pueda ser de su interés. En esos casos, su información de identificación personal única (correo electrónico,
            nombre, dirección, número de teléfono) no se transfiere al tercero. Además, Divina puede compartir
            datos con socios confiables para ayudarnos a realizar un análisis estadístico, enviarle correo electrónico o
            correo postal, brindar atención al cliente u organizar las entregas. Todos estos terceros tienen prohibido
            usar su información personal, excepto para proporcionar estos servicios a Divina, y están obligados a
            mantener la confidencialidad de su información.

            Divina no utiliza ni divulga información personal privada como raza, religión o afiliaciones políticas
            sin su consentimiento expreso.

            Divina realiza un seguimiento de los sitios web y las páginas que visitan nuestros clientes dentro de
            Divina, a fin de determinar qué servicios de Divina son los más populares. Estos datos se utilizan
            para entregar contenido personalizado y publicidad dentro de Divina a los clientes cuyo comportamiento
            indica que están interesados ​​en un área temática en particular.

            Los sitios web de Divina no divulgarán su información personal sin previo aviso, solo si así lo exige la
            ley o si se cree de buena fe que dicha acción es necesaria para: (a) cumplir con los edictos de la ley o
            cumplir con el proceso legal presentado en Divina o el sitio; (b) proteger y defender los derechos o
            propiedad de Divina; y, (c) actuar de acuerdo con las circunstancias exigentes para proteger la
            seguridad personal de los usuarios de Divina o del público.
        </p>





    </main>
</body>

</html>