nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 95, 95);
  padding: 10px 30px;
  margin-bottom: 50px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(199, 199, 199);
}

.flexNav {
  display: flex;
}

.flexNav > div {
  margin: 0 25px;
}

.__mainMails {
  display: flex;
  /* background-color: tomato; */
  justify-content: center;
}

.__tableEmails {
  margin: 10px;
  /* background-color: teal; */
  /* width: 900px; */
}

.nameEmails {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 300px));
  background-color: rgb(255, 95, 95);
  justify-content: space-around;
  text-align: center;
  color: white;
}

.nameEmails > div {
  /* background-color: yellow; */
}

.nameEmails p {
  margin: 0;
}

.flexEmail a {
  border: navajowhite;
  text-decoration: none;
  background-color: rgb(248, 114, 114);
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
}

.conentEmails {
}

.flexEmail {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, minmax(100px, 300px));
  align-items: center;
  border-bottom: 1px solid rgb(172, 172, 172);
  padding: 13px;
}

.flexEmail > div {
  overflow-y: auto;
  padding: 5px 0;
}

.mensajeEmail {
  max-width: 300px;
}
