nav {
  background-color: rgb(255, 95, 95);
  padding: 10px 30px;
  margin-bottom: 50px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(199, 199, 199);
}

.flexNav {
  display: flex;
  justify-content: space-between;
}

.__mainMails {
  display: flex;
  justify-content: center;
}

.flexEmail {
  max-width: 2000px;
  width: 100%;
}

table {
  min-width: 750px;
  width: 100%;
  text-align: center;
  background-color: rgba(5, 204, 204, 0.075);
}

td {
  word-wrap: break-word;
}

table a {
  word-wrap: inherit;
  white-space: nowrap;
}

.conentEmails {
  max-width: 80%;
}


