@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.precauciones {
  background-color: rgb(252, 213, 220);
  padding: 10px;
}

/* ===================================================================== */

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249, 249, 249); */
  /* opacity: 0.9; */
}

.loader img {
  background-color: rgb(44, 44, 44);
  border-radius: 15px;
  padding: 5px 15px;
}

.loader-container {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.loader-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: solid 4px transparent;
  border-top-color: #2e2e2e;
  border-left-color: #2e2e2e;
  border-radius: 50%;
  animation: loader 1.4s linear infinite;
}

.loader-container .loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border: solid 4px transparent;
  border-top-color: #9b9b9b;
  border-left-color: #8a8989;
  border-radius: 50%;
  animation: loader2 1.2s linear infinite;
  z-index: 10000;
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* ===================================================================== */

html,
body {
  /* background-color: aqua !important; */
  position: relative;
}

.navbar {
  top: 80px;
  left: 0;
  right: 0;
  position: absolute;
  padding: 0 200px;
  /* background: red !important; */
  background: none !important;
  z-index: 1000000;
}

.navbar a {
  color: white !important;
}

.__mainContainer {
  position: relative;
  height: 100%;
  /* height: calc(100vh - 56px); */
  background: rgb(51, 51, 51);
  background: linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* background-size: cover; */
  /* background-color: brown; */
}

.__presentacionMain {
  display: flex;
  /* background-color: burlywood; */
  justify-content: center;
  justify-items: center;
  /* box-sizing: border-box; */
  height: 100%;
  overflow: hidden;
}

.__infomain {
  min-width: 485px;
  margin-top: -100px;
  /* background-color: rgb(198, 248, 148); */
}

.__presentacionMain P {
  color: white;
  text-align: center;
  font-size: 20px;
  letter-spacing: 14px;
}
.__presentacionMain h1 {
  letter-spacing: 25px;
  color: rgb(132, 248, 138);
  font-size: 50px;
  font-family: 'Noto Sans JP', sans-serif;
}

.__enviosPais {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: rgb(194, 194, 194);
}

.__enviosPais > span {
  margin: 0 5px;
}

.__presentacionMain > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32%;
}

.__presentacionMain img {
  width: 100%;
  max-width: 700px;
  /* background-color: tomato; */
}

.__lataContainer {
  position: relative;
  /* background-color: brown; */
  min-width: 485px;
}

.__newContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
  right: 150px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-color: rgb(202, 255, 191);
  position: absolute;
}

.__newContainer h3 {
  margin-top: 8px;
  margin-left: 3px;
  letter-spacing: 5px;
  font-size: 18px;
}

.__contentContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* max-width: 80%; */
  padding: 50px 0 100px 0;
}

.__contentContainer > div {
  max-width: 70%;
}

.__buttonsMain {
  /* background-color: crimson; */
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.__buttonsMain a {
  font-size: 20px;
  margin: 0 10px;
  border: 0;
  padding: 1px 15px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.__buttonsMain :first-child a {
  background-color: rgb(135, 216, 135);
  border: 3px solid rgb(135, 216, 135);
}

.__buttonsMain :first-child a:hover {
  background-color: rgb(110, 226, 110);
  border: 3px solid rgb(120, 219, 120);
}

.__buttonsMain :last-child a {
  border: 3px solid white;
  background: none;
  color: white;
}

.__buttonsMain :last-child a:hover {
  border: 3px solid rgb(204, 204, 204);
  color: rgb(204, 204, 204);
  background: none;
}

/* ===== PRESENTACIONES LATAS  ===== */

.__presentacionLataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  /* width: 1500px; */
  /* background-color: cyan; */
}

.__presentacionLataContainer img {
  max-height: 400px;
}

.datosLata {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 7; */
}

.negro {
  margin-bottom: 25px;
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  display: none;
}

.rojo {
  margin-bottom: 25px;
  background-color: rgb(255, 20, 98);
  color: white;
  padding: 5px;
  border-radius: 10px;
  display: none;
  text-align: center;
}

.verde {
  margin-bottom: 25px;
  display: none;
  background-color: rgb(31, 168, 3);
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.lata h5 {
  margin: 0;
}

.lata img {
  transition: all 0.4s;
  transition-timing-function: ease-in-out;
}

.lata img:hover {
  transform: rotate(-5deg) scale(1.04);
}

.__presentacionLataContainer a {
  text-decoration: none;
  background-color: rgb(29, 29, 29);
  border-radius: 25px;
  color: white;
  padding: 5px 10px;
}

table {
  max-width: 550px;
  width: 100%;
}

table td {
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
}

table th {
  font-weight: 500;
  text-align: center;
}

/* ===== *FIN PRESENTACIONES LATAS  ===== */


/* ======= PUNTOS DE VENTA ============  */

.puntosDeVenta {
  align-items: center;
  background-color: rgb(168, 245, 168);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 15px;
}

.puntosDeVenta h4 {
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 18px;
  text-align: center;
  
}

.puntosDeVentaMaps {
  display: flex;
}

.puntosDeVentaMaps > div {
  position: relative;
  margin: 15px;
  padding-bottom: 15px;
}


.puntosDeVentaMaps iframe{
  width: 200px;
  height: 200px;
}



.Depilcenter::after {
  position: absolute;
  text-align: justify;
  content: "Depilcenter - Centro de depilación. (Sector el condado, frente al estadio de Liga de Quito)";
  bottom: -18px;
  left: 0;
  font-size: 12px;
  line-height: 10px;
}

.Depilstudio::after {
  text-align: justify;
  position: absolute;
  content: "Depilstudio (Sector San Rafael, a dos cuadras del banco internacional)";
  bottom: -9px;
  left: 0;
  font-size: 12px;
  line-height: 10px;
}

/* ======= *FIN PUNTOS DE VENTA ============  */