<footer class='footer'>
  <div class='infoFooter'>

    <div>
      <a href='/admin/login'>Admin</a>
    </div>

    <div>
      <a href='/admin/login'>Tlf. 097 970 3986</a>
    </div>

    <div>
      <a href='/term'>Terminos y condiciones</a>
    </div>

  </div>

  <div class='divina'>
    <div>
      <p>2021 © Divina-Ecuador</p>
    </div>
    <div>
      <a href='https://api.whatsapp.com/send?phone=593987318452&text=Hola,%20quiero%20informaci%C3%B3n.%20'
        target='_blank'>
        &lt; Alava Dev /&gt;
      </a>
    </div>
  </div>

</footer>