<div class='__redesSocialesContainer'>
  <div>
    <a href='https://www.facebook.com/Divinas-Cera-depilatoria-100490148947962' target="_blank">
      <img src='../img/social/fb.png' alt='facebook/divinaec' />
    </a>
  </div>
  <div>
    <a href='https://www.instagram.com/divinas_ec_uio/' target="_blank">
      <img src='../img/social/inst.png' alt='instagram/@divinas_ec_uio' />
    </a>
  </div>
  <div>
    <a href='https://api.whatsapp.com/send?phone=593979703986' target='_blank'>
      <img src='../img/social/wtspp.png' alt='whtasapp|0979703986' />
    </a>
  </div>

</div>