<div class='__redesSocialesContainer'>
  <div>
    <a href=''>
      <img src='../img/social/fb.png' alt='facebook' />
    </a>
  </div>
  <div>
    <a href='#'>
      <img src='../img/social/inst.png' alt='instagram' />
    </a>
  </div>
  <div>
    <a href='https://api.whatsapp.com/send?phone=593979703986' target='_blank'>
      <img src='../img/social/wtspp.png' alt='whtasapp' />
    </a>
  </div>

</div>