<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Divina-Cera depilatoria</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
      crossorigin='anonymous'
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./css/index.css' />
    <link rel='stylesheet' href='./css/Responsive/index.css' />
    <link rel='stylesheet' href='../css/footer.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/redesSociales.css">
    <meta name="google-site-verification" content="sLJvHXCHITYk8fNpGBIcvf4WHZTQmPX6ghLUTVS1uTo" />
  </head>
  <body>

    {{!-- CARGANDO --}}
    <section class="loader">
      <div>
        <img src="./img/logo_Mesa de trabajo 1.svg" alt="Logo" width="100">
      </div>
      <div class="loader-container">
          <div class="loader"></div>
          <div class="loader2"></div>
      </div>
    </section>
    
<section class="noneBlock">


    {{> redesSociales }}

    <main class="__mainContainer">
      {{> nav }}

      <section class="__presentacionMain">
        <div class="__infomain animate__animated animate__fadeIn">


          <div class=" ceraDepilatoria">
            <h1>CERA <br> DEPILATORIA</h1>
            <p>CORPORAL - FACIAL</p>
          </div>


          <div class="__buttonsMain"> 
            <div>
              <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20quiero%20realizar%20un%20pedido." target="_blank">COMPRAR</a>
            </div>
            
            <div>
              <a href="/contactos">CONTACTOS</a>
            </div>
          </div>



          <div class="__enviosPais">
            <span>Envios a todo el pais</span>
            <span class="material-icons">local_shipping</span>
          </div>


          
        </div>

        
        <div class="__lataContainer animate__animated animate__fadeInRight">
          <div class="__newContainer">
            <h3>NUEVO</h3>
          </div>
          <div>
            <img src="./img/index/lata6.png" alt="">
          </div>
        </div>
      </section>
    </main>


    <section class="__contentContainer">

      <div class="__presentacionLataContainer ">

        

        
        <div class="datosLata">
          
          <div>
            <h5>Cera depilatoria con carbon activado</h5>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est fugit ab, omnis eaque officiis nostrum necessitatibus nesciunt exercitationem nulla, similique temporibus atque facilis repudiandae, excepturi facere id ratione. Beatae, laboriosam!
            </p>
          </div>
          

          <div align="center">
            <table class="table  table-bordered" >
              <thead>
                <tr>
                  <th>Precio individual</th>
                  <th>Precio 3 unidades</th>
                  <th>Precio por cajas (12 unidades)</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>$5.50</td>
                    <td>$15</td>
                    <td>$40</td>
                  </tr>
                </tbody>
            </table>
          </div>

          <div align="center"> 
            <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20me%20intresea%20la%20cera%20con%20carbón%20activado." target="_blank">COMPRAR</a>
          </div>
          
          
        </div>

        
        
        <div class="lata">
          <img src="./img/index/tarro_negro.png" alt="Cera depilatoria con carbon activado">
        </div>
        
        
        
      </div>

      
      <div class="__presentacionLataContainer">
        <div class="datosLata">

          <div>
            <h5>Cera depilatoria con carbon activado</h5>
          </div>

          <div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est fugit ab, omnis eaque officiis nostrum necessitatibus nesciunt exercitationem nulla, similique temporibus atque facilis repudiandae, excepturi facere id ratione. Beatae, laboriosam!
            </p>
          </div>

          <div align="center">
            <table class="table  table-bordered " >
               <thead>
                <tr>
                  <th>Precio individual</th>
                  <th>Precio 3 unidades</th>
                  <th>Precio por cajas (12 unidades)</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>$5.50</td>
                    <td>$15</td>
                    <td>$40</td>
                  </tr>
                </tbody>
            </table>
          </div>

          <div align="center"> 
            <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20me%20intresea%20la%20cera%20con%20alove%20vera." target="_blank">COMPRAR</a>
          </div>
          
        </div>

        <div class="lata">
          <img src="./img/index/tarro_rosa.png" alt="Cera depilatoria con carbon activado">
        </div>
      </div>

      
      <div class="__presentacionLataContainer">
        <div class="datosLata">

          <div>
            <h5>Cera depilatoria con carbon activado</h5>
          </div>

          <div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est fugit ab, omnis eaque officiis nostrum necessitatibus nesciunt exercitationem nulla, similique temporibus atque facilis repudiandae, excepturi facere id ratione. Beatae, laboriosam!
            </p>
          </div>

          <div align="center">
            <table class="table  table-bordered " >
               <thead>
                <tr>
                  <th>Precio individual</th>
                  <th>Precio 3 unidades</th>
                  <th>Precio por cajas (12 unidades)</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>$5.50</td>
                    <td>$15</td>
                    <td>$40</td>
                  </tr>
                </tbody>
            </table>
          </div>

          <div align="center"> 
            <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20me%20intresea%20la%20cera%20para%20pieles%20sensibles." target="_blank" >COMPRAR</a>
          </div>
          
        </div>

        <div class="lata">
          <img src="./img/index/tarro_verde.png" alt="Cera depilatoria con carbon activado">
        </div>
      </div>
      
      
      {{> footer}}
    </section>
    
</section>
  <script src="./js/index.js"></script>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4'
      crossorigin='anonymous'
    ></script>
  </body>
</html>