<html lang='es'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title>Cera depilatoria | Quito-Ecuador | Divina</title>
  <link rel="icon" type="image/png" href="../img/iconNegro.png">
  <meta http-equiv="Content-Type" content="text/html; ISO-8859-1">
  <link REV="made" href="mailto:divinaec2021@gmail.com">
  <meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
  <meta name="author" content="Jefferson Alava">
  <meta name="reply-to" content="divinaec2021@gmail.com">
  <meta name="description"
    content="Cera depilatoria facial y corporal. Cera depilatoria con carbón activado, aloe vera y a base de mieles.">
  <meta name="keywords"
    content="cera depilatoria, cera facial, cera corporal, cera con aloe vera, cera depilatoria quito">
  {{!--
  <meta name="Resource-type" content="index"> --}}
  <meta name="DateCreated" content="Thu, 10 June 2021 00:00:00 GMT+1">
  <meta name="Revisit-after" content="1 day">
  {{!--
  <meta name="robots" content="index"> --}}
  <link rel="canonical" href="https://www.divinaec.com/">
  <meta property="og:title" content="Cera depilatoria facial y corporal." />
  <meta property="og:description"
    content="Cera depilatoria facial y corporal. Cera depilatoria con carbón activado, aloe vera y a base de mieles." />
  <meta property="og:url" content="https://www.divinaec.com/" />
  {{!--
  <meta property="og:site_name" content="Divina" /> --}}
  {{!--
  <meta property=”og:image” content="LINK A LA IMAGEN DESTACADA" /> --}}
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='./css/index.css' />
  <link rel='stylesheet' href='./css/Responsive/index.css' />
  <link rel='stylesheet' href='../css/footer.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./css/redesSociales.css">
  <meta name="google-site-verification" content="sLJvHXCHITYk8fNpGBIcvf4WHZTQmPX6ghLUTVS1uTo" />
</head>

<body>

  {{!-- CARGANDO --}}
  <section class="loader">
    <div>
      <img src="./img/logo_Mesa de trabajo 1.svg" alt="Logo" width="100">
    </div>
    <div class="loader-container">
      <div class="loader"></div>
      <div class="loader2"></div>
    </div>
  </section>

  <section class="noneBlock">


    {{> redesSociales }}

    <main class="__mainContainer">
      {{> nav }}

      <section class="__presentacionMain">
        <div class="__infomain animate__animated animate__fadeIn">


          <div class=" ceraDepilatoria">
            <h1>CERA <br> DEPILATORIA</h1>
            <p>CORPORAL - FACIAL</p>
          </div>


          <div class="__buttonsMain">
            <div>
              <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20quiero%20realizar%20un%20pedido."
                target="_blank">COMPRAR</a>
            </div>

            <div>
              <a href="/contactos">CONTACTOS</a>
            </div>
          </div>



          <div class="__enviosPais">
            <span>Envíos a todo el pais</span>
            <span class="material-icons">local_shipping</span>
          </div>



        </div>


        <div class="__lataContainer animate__animated animate__fadeInRight">
          <div class="__newContainer">
            <h3>NUEVO</h3>
          </div>
          <div>
            <img src="./img/index/lata6.png" alt="Cera depilatoria con carbon activado">
          </div>
        </div>
      </section>
    </main>


    <section class="__contentContainer">

      <div class="__presentacionLataContainer">




        <div class="datosLata">

          <div>
            <h5>Cera depilatoria con carbón activado</h5>
          </div>

          <div>
            <p><b>Ingredientes:</b> Azúcar, agua, cítrico, miel, cristales de aloe vera, colorante cosmético, carbón
              activado.</p>
            <p class="precauciones">
              <b>Precauciones:</b>
              <br>
              • Calienta el producto destapado
              <br>
              • Nunca calientes directamente en la hornilla.
              <br>
              • Almacena el producto en un lugar fresco y seco.
              <br>
              • Aplica sobre la piel sin irritación.
            </p>
            <p>
              <b>Instrucciones de uso</b>
              <br>
              • En el mismo envase calienta a baño maría o calentador eléctrico.
              <br>
              • Mezcla con una espátula hasta obtener una consistencia liquida.
              <br>
              • Realiza una prueba de la temperatura en la muñeca.
              <br>
              • Limpia la piel con agua o producto de tu preferencia
              <br>
              •Aplica el producto uniformemente en dirección al crecimiento del vello.
              <br>
              • Sobre la capa de cera coloca la banda hasta adherirla por completo en la zona a depilar.
              <br>
              • Desprender la banda en dirección contraria.
              <br>
              • Retira los residuos con un pañito
            </p>
          </div>


          <div align="center">
            <table class="table  table-bordered">
              <thead>
                <tr>
                  <th>Precio individual</th>
                  <th>Precio 3 unidades</th>
                  <th>Precio por caja (12 unidades)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>$5.50</td>
                  <td>$15</td>
                  <td>$40</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div align="center">
            <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20me%20intresea%20la%20cera%20con%20carbón%20activado."
              target="_blank">COMPRAR</a>
          </div>


        </div>



        <div class="lata">
          <div class="negro">
            <h5>Cera depilatoria con carbón activado</h5>
          </div>
          <div>
            <img src="./img/index/tarro_negro.png" alt="Cera depilatoria con carbon activado">
          </div>
        </div>



      </div>


      <div class="__presentacionLataContainer">
        <div class="datosLata">

          <div>
            <h5>Cera depilatoria a base de mieles</h5>
          </div>
          <div>
            <p><b>Ingredientes:</b>Azúcar, agua, cítrico, miel, cristales de aloe vera, colorante cosmético..</p>
            <p class="precauciones">
              <b>Precauciones:</b>
              <br>
              • Calienta el producto destapado.
              <br>
              • Nunca calientes directamente en la hornilla.
              <br>
              • Almacena el producto en un lugar fresco y seco.
              <br>
              • Aplica sobre la piel sin irritación.
            </p>
            <p>
              <b>Instrucciones de uso</b>
              <br>
              • En el mismo envase calienta a baño maría o calentador eléctrico.
              <br>
              • Mezcla con una espátula hasta obtener una consistencia liquida.
              <br>
              • Realiza una prueba de la temperatura en la muñeca.
              <br>
              • Limpia la piel con agua o producto de tu preferencia
              <br>
              •Aplica el producto uniformemente en dirección al crecimiento del vello.
              <br>
              • Sobre la capa de cera coloca la banda hasta adherirla por completo en la zona a depilar.
              <br>
              • Desprender la banda en dirección contraria.
              <br>
              • Retira los residuos con un pañito
            </p>
          </div>


          <div align="center">
            <table class="table  table-bordered">
              <thead>
                <tr>
                  <th>Precio individual</th>
                  <th>Precio 3 unidades</th>
                  <th>Precio por caja (12 unidades)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>$5.50</td>
                  <td>$15</td>
                  <td>$40</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div align="center">
            <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20me%20intresea%20la%20cera%20con%20carbón%20activado."
              target="_blank">COMPRAR</a>
          </div>


        </div>


        <div class="lata">
          <div class="rojo">
            <h5>Cera depilatoria a base de mieles.</h5>
          </div>
          <div>
            <img src="./img/index/tarro_rosa.png" alt="Cera depilatoria a base de mieles">
          </div>
        </div>
      </div>

      <hr>


      <div class="__presentacionLataContainer">
        <div class="datosLata">

          <div>
            <h5>Cera depilatoria para pieles sensibles</h5>
          </div>
          <div>
            <p><b>Ingredientes:</b> Azúcar, agua, cítrico, miel, cristales de aloe vera, colorante cosmético, carbón
              activado.</p>
            <p class="precauciones">
              <b>Precauciones:</b>
              <br>
              • Calienta el producto destapado
              <br>
              • Nunca calientes directamente en la hornilla.
              <br>
              • Almacena el producto en un lugar fresco y seco.
              <br>
              • Aplica sobre la piel sin irritación.
            </p>
            <p>
              <b>Instrucciones de uso</b>
              <br>
              • En el mismo envase calienta a baño maría o calentador eléctrico.
              <br>
              • Mezcla con una espátula hasta obtener una consistencia liquida.
              <br>
              • Realiza una prueba de la temperatura en la muñeca.
              <br>
              • Limpia la piel con agua o producto de tu preferencia.
              <br>
              •Aplica el producto uniformemente en dirección al crecimiento del vello.
              <br>
              • Sobre la capa de cera coloca la banda hasta adherirla por completo en la zona a depilar.
              <br>
              • Desprender la banda en dirección contraria.
              <br>
              • Retira los residuos con un pañito.
            </p>
          </div>


          <div align="center">
            <table class="table  table-bordered">
              <thead>
                <tr>
                  <th>Precio individual</th>
                  <th>Precio 3 unidades</th>
                  <th>Precio por caja (12 unidades)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>$5.50</td>
                  <td>$15</td>
                  <td>$40</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div align="center">
            <a href="https://api.whatsapp.com/send?phone=593979703986&text=Hola,%20me%20intresea%20la%20cera%20con%20carbón%20activado."
              target="_blank">COMPRAR</a>
          </div>

        </div>


        <div class="lata">
          <div class="verde">
            <h5>Cera depilatoria para pieles sensibles</h5>
          </div>
          <div>
            <img src="./img/index/tarro_verde.png" alt="Cera depilatoria para pieles sensibles">
          </div>
        </div>
      </div>

      <section class="puntosDeVenta" id="puntosventa">
        <div>
          <h4>Puntos de venta</h4>
        </div>
        <div class="puntosDeVentaMaps">
          <div class="Depilcenter">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8111976580185!2d-78.49364198476415!3d-0.10826373550714542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58547be677289%3A0xfd29f56d2e4586c!2sDepilcenter%20-%20Centro%20de%20depilaci%C3%B3n!5e0!3m2!1ses-419!2sec!4v1623686177863!5m2!1ses-419!2sec"
              style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>

          <div class="Depilstudio">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31918.5266467949!2d-78.41834594999999!3d-0.06400539999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd88df868fbb%3A0x78fbf5c5b93af33b!2sFixus%2C%20Isla%20Salango%20%26%2C%20Quito!5e0!3m2!1ses-419!2sec!4v1623695451369!5m2!1ses-419!2sec"
              style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>

        </div>
      </section>

      {{> footer}}
    </section>

  </section>
  <script src="./js/index.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4'
    crossorigin='anonymous'></script>
</body>

</html>